*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: As;
}
body {
    background-color: #f8f8f8;
}
.navar-big{
    width:100%;
    height:auto;
    background: #ffffff;
}
.navar-menu{
    width:80%;
    margin:auto;
    background: #ffffff;
    height:80px;
}
.logo-navar img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.icon-shop img{
    width:40px;
    height:40px;
    margin-left:20px;
    color: #ffc219;
    cursor: pointer;

}
.text-navar{
    color: white;
    
}
.bg-light {
    background-color: #ffffff !important;
}
.menu-small,.dropdown-menu {
    background: #3e3e3e;
}
.account{
    border:none;
    color:white;
    transition: .5 all;
}
.account:hover{
    background-color: #ffc219;
}
a.nav-link.text-navar{
    color:#ffc219;
    
}
button.btn.btn-outline-success.my-2.my-sm-0.account{
    color:#3e3e3e;
    font-weight: 400;;
}
@media(max-width:600px){

.navar-menu{
    padding:30px;
    width:100%;
    
}
.logo-navar{
    position: absolute;
    right: 1%;
}

.logo-navar img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.bg-light{
    position: relative;
    width:100%;
}
.nav-item.active.custom-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
a.nav-link.text-navar{
    color:white;
    text-transform: uppercase;
    font-size:20px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background: #f9df03;
    position: absolute;
}
#navbarSupportedContent{
    background: rgb(62, 62, 62);
    z-index: 1500;
    position: absolute;
    top: 0px;
    left: -8px;
    padding: 58px 66px 117px 95px;

}
.custom-home{
   display:none; 
    z-index: 2000;
}
li.nav-item.active.custom-home{
    display:none;
}
.dropdown-menu{
    border: 1px solid white;
    border-radius: .25rem;
    box-shadow: 2px 2px 4px 2px white;
}
button.navbar-toggler{
    z-index: 2000;
}
a.navbar-brand.logo-navar{
    z-index: 2000;
}
input.form-control.mr-sm-2{
    width:100%;
}
div#exampleModalScrollable {
    z-index: 1400;
}
}
@media(max-width:350px){
    .navbar-toggler{
        padding: 4px 4px;
    }
    .nav-item.active.custom-home{
      
        padding: 20px 11px 20px 11px;
    }
    a.navbar-brand.logo-navar img{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    }
    a.navbar-brand.logo-navar{
        padding: 20px 15px 20px 15px;
        
        margin-right:0;
    }
    .content-pagination{
        height: 161px;
    }
    .content-pagination .content button{
        margin-left:10px;
    }
    .content-pagination h3{
        width: 325px;
    font-size: 18px;
    }
}

.height-menu{
    height: 547px;
} 


/**********HEADINGGGGG****/
.heading-shose{
    height:360px;
    width:100%;
   background-image:linear-gradient(to right,#3e3e3e96,#3e3e3e96),url('../img/image1.jpg');
   background-size: cover;
   background-position: center;
   display:flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.content-heading h2{
    font-size:60px;
    letter-spacing: 10px;
    color:#ffffff;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    
}
.content-heading p {
    color:#ffffff;
    font-weight: 300;
}
.content-heading{
    text-align: center;
}

/**********OVER HEADINGGGGG****/

/***********About-main****************/
.about-main{
    width:80%;
    margin:auto;
    margin-top:-60px;
    position: relative;
    background: white;
    z-index: 2;
}
.img-col{
    padding-right:0;
    padding-left:0;
}
.img-col img{
    width:100%;
  
}
.txt-col{
    padding: 0 30px 40px;
}
.txt-col h2{
    margin-top:40px;
    border-left: 5px solid #ffc219;
    line-height:30px;
    padding:0 10px;
}
.txt-col p{
    font-family: 'Arsenal', sans-serif;
}


/**********ROW2***********/
.row2{
    background: #eee;
    display:inline-block;
   
}
.pull-left {
    float: left!important;

}
.pull-right {
    float: right!important;
}
.pull-right h2{
    margin-left:30px;
}
.row4{
    background: #eee;
    display:inline-block;
}
/**************************************paginate-pagination*********/

.paginate-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    
}
.paginate-pagination ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.paginate-pagination ul > li {
    float: left;
    margin-right: 3px;
}
.paginate-pagination ul > li > a.page-next.deactive, .paginate-pagination ul > li > a.page-prev.deactive {
    opacity: 0.7;
    cursor: default;
}
.paginate-pagination ul li a.page {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
}
.sort-dropdown.hienra{
    padding:10px 20px;
}
a.page.page-1.active{
    text-align: center;
    border:1px solid #3e3e3e;
    background-color: #3e3e3e;
    color:white;
}
a.page{
    border:1px solid #3e3e3e;
    text-align: center;
}
a.page.page-prev.deactive,a.page.page-next{
    border:none;
    font-size:15px;
}

/************pagination************/
.content-pagination{
    width:100%;
    height:150px;
    background: #3e3e3e;
    margin-top:50px;
}
.content{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-pagination h3 {
    width: 500px;
    font-size: 25px;
    color: #ffc219;
    font-family: 'Arsenal', sans-serif;
    font-weight: 600;
}
.content-pagination button {
    padding: 10px 25px;
    background-color: #ffc219;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 500;
    transition: .5 all;
    position: relative;
}
@media(max-width:600px){
    .content-pagination {
        height: 142px;
    }
    .content-pagination h3 {
        width: 360px;
        font-size: 17px;
    }
    .content-pagination button {
        padding: 6px 18px;
        font-size: 10px;

    }
}
/****FOOTER******************/
.row-foodter{
    width:80%;
    margin:auto;
    margin-top:40px;
}
.footer-item h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 10px;
    color: #333;
    border-left: solid 3px #ffc219;
}
.footer-item ul {
    list-style: none;
    padding-left: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-item ul>li {
    line-height: 32px;
    font-size:16px;
}
.row-foodter i {
    width: 25px;
    text-align: center;
    font-size:16px;
}
.logo-holly{
    position: absolute;
    bottom: 5%;
    right:10%;
   
}
.logo-holly2{
    position: absolute;
    bottom: -26%;
    right:10%;
}
.logo-holly3{
    position: absolute;
    bottom: -32%;
    right:10%;
}
.logo-holly p{
    color: 24px;
    letter-spacing: 7px;
    color:#ffc219;
    font-weight: 500;
    font-family: 'Arsenal', sans-serif;
}
@media(max-width:600px){
    .container.about-main{
        width:100%;
    }
    a.nav-link.text-navar{
        color:#3e3e3e;
    }
}
.dropdown-menu.show{
    display:block;
}
.dropdown-menu.show{
    z-index:1000;
}


/****HOVER**********************/
/* .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
  }
  
  .hovereffect:hover h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect h2,
  .hovereffect p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  
  .hovereffect .overlay:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
  }
  
  .hovereffect p {
    width: 20%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  
  .hovereffect p a {
    color: #fff;
  }
  
  .hovereffect p a:hover,
  .hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .hovereffect  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 0px 5px;
  }
  
  .hovereffect p a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0);
    transform: translate3d(-60px,-60px,0);
  }
  
  .hovereffect p a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0);
    transform: translate3d(60px,-60px,0);
  }
  
  .hovereffect p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px,60px,0);
    transform: translate3d(-60px,60px,0);
  }
  
  .hovereffect p a:nth-child(4) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(60px,60px,0);
  }
  
  .hovereffect:hover .overlay:before {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(0,0,0,0.2);
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover p i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .hovereffect:hover img{
     opacity: 0.8;
  }
.overlay h2{
    padding:10px 20px;
    background: #212529a3;
} */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 100%;
  }
  
  .hovereffect:hover h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .hovereffect hr {
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .hovereffect  hr:nth-child(2) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  }
  
  .hovereffect  hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  }
  
  .hovereffect h2, .hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
  }
  
  .group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  
  .group1 {
    top: 40%;
  }
  
  .group2 {
    top: 60%;
  }
  
  .hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  
  .hovereffect p a {
    color: #fff;
  }
  
  .hovereffect p a:hover,
  .hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .hovereffect  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 10px;
    font-size: 20px;
  }
  
  .group1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  }
  
  .group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
  }
  
  .group2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  }
  
  .group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
    transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  }
  
  .hovereffect:hover hr:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /**********HOVER 2*********************/

  .back-top {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ffc219;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
	display:none;

}
@media(width:1024px){
  .navar-menu{
    width:95%;
  }
  .logo-navar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.footer-item h4{
  line-height:1.3;
}
}
@media(width:768px){
  .logo-navar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

}


@media(max-width:600px){
  .logo-navar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.navbar-toggler-icon{
  width:1.5rem;
  height:1.5rem;
}
ul.navbar-nav.mr-auto{
  margin-top:30px;
}
.form-control{
  margin-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link{
  text-transform: initial;
}
a#navbarDropdown{
  color: white;
}
#navbarSupportedContent{
  top:0px;
}
a.nav-link.text-navar{
  font-size:16px;
}
button.btn.btn-outline-success.my-2.my-sm-0.account{
  color:white;
}
}
a.nav-link.text-navar{
  color:white;
}
.navar-big{
  background: #3e3e3e;
}
.bg-light {
  background-color: #3e3e3e !important;
}
.navbar-light .navbar-nav .nav-link,a.nav-link.text-navar {
  color: white;
}
button.btn.btn-outline-success.my-2.my-sm-0.account {
  color: white;
  font-weight: 400;
}
button.btn.btn-outline-success.my-2.my-sm-0.account:hover{
  background: none;
}
.dropdown-menu.show{
  border:none;
  box-shadow: none;
}
a.nav-link.text-navar:hover{
  color:white;
}
.content-pagination button{
  color:black;
}
@media(max-width:600px){
  .logo-holly{
    bottom: 1%;
  }
}

@media (max-width: 1000px) and (min-width: 769px)
{
#navbarSupportedContent {
    background: #3e3e3e;
    position: absolute;
    height: 100vh;
    z-index: 3000;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    top: 0px;
    left: 0px;
}
ul.navbar-nav.mr-auto {
    margin-top: 115px;
    margin-left: 75px;
}
a.nav-link.text-navar, a#navbarDropdown {
    width: 100px;
    font-size: 18px;
}
a.navbar-brand.logo-navar, button.navbar-toggler, a.nav-link.text-navar, .nav-item.active.custom-home.icon-holly {
    z-index: 3500;
}
form.form-inline.my-2.my-lg-0.icon-shop {
    margin-left: 70px;
}
button.btn.btn-outline-success.my-2.my-sm-0.account:hover{
    color:#ffc219;
}
a.nav-link.disabled.nav-link-produce,a.nav-link.text-navar,a.nav-link.text-navar,a.nav-link.text-navar, a#navbarDropdown{
    font-size:17px;
}
li.nav-item.dropdown.show{
    width:200px;
}
.navbar-nav .dropdown-menu{
    border:none;
}
.content-pagination h3{
    font-size:22px;
}
.logo-navar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.navbar-toggler-icon{
    width: 1.3em;
    height: 1.4em;
}
.navbar-brand{
     padding-top: 0rem;
     padding-bottom: 0rem;
}
button.navbar-toggler{
    background: #ffc219;
}
.navar-menu {
    width: 100%;
    padding: 0px 59px;
}
.time-over .h3,.time-over h2{
    font-size:1.3rem;
}
.information-content span{
    font-size:17px;
}
#logo1,.image-logo img {
    height: 70px;
    width: 70px;
}
.nav-item.active.custom-home{
    z-index:4000;
}
.row1{
    margin-top:0;
}
}
@media(max-width:1000px) and (min-width:416px){
    .navar-menu {
        width: 100%;
        padding: 0px 59px;
    }
    .time-over .h3,.time-over h2{
        font-size:1.3rem;
    }
    .information-content span{
        font-size:17px;
    }
    #logo1,.image-logo img {
        height: 70px;
        width: 70px;
    }
    .nav-item.active.custom-home{
        z-index:4000;
    }
    .row1{
        width:90%;
    }
}
@media (max-width: 767px) and (min-width: 415px)
{
#navbarSupportedContent {
    background: #3e3e3e;
    position: absolute;
    height: 100vh;
    z-index: 3000;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    top: 0px;
    left: 0px;
}
ul.navbar-nav.mr-auto {
    margin-top: 115px;
    margin-left: 75px;
}
a.nav-link.text-navar, a#navbarDropdown {
    width: 100px;
    font-size: 18px;
}
a.navbar-brand.logo-navar, button.navbar-toggler, a.nav-link.text-navar, .nav-item.active.custom-home.icon-holly {
    z-index: 3500;
}
form.form-inline.my-2.my-lg-0.icon-shop {
    margin-left: 70px;
}
button.btn.btn-outline-success.my-2.my-sm-0.account:hover{
    color:#ffc219;
}
a.nav-link.disabled.nav-link-produce,a.nav-link.text-navar,a.nav-link.text-navar,a.nav-link.text-navar, a#navbarDropdown{
    font-size:17px;
}
li.nav-item.dropdown.show{
    width:200px;
}
.navbar-nav .dropdown-menu{
    border:none;
}
.logo-navar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.navbar-toggler-icon{
    width: 1.3em;
    height: 1.4em;
}
.navbar-brand{
     padding-top: 0rem;
     padding-bottom: 0rem;
}
button.navbar-toggler{
    background: #ffc219;
}
.information-content span {
    font-size: 15px;
}
.information-content i{
    margin-right: 16px;
    font-size: 18px;
}
.time-over .h3, .time-over h2 {
    font-size: 1.1rem;
    line-height:1.4;
}
.content-informtion{
    width:95%;
}
.row1{
    margin-top:0;
}
}
@media(max-width:600px) and (min-width:415px){
    ul.navbar-nav.mr-auto {
        margin-top: 40px;
        margin-left: -16px;
    }  
    form.form-inline.my-2.my-lg-0.icon-shop {
        margin-left: -18px;
    }
    input.form-control.mr-sm-2{
        width:78%;
        margin-bottom:13px;
    }  
#navbarSupportedContent {
  height:80vh;
}
.logo-navar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.navbar-toggler-icon{
    width: 1.3em;
    height: 1.4em;
}
.navbar-brand{
     padding-top: 0rem;
     padding-bottom: 0rem;
}
button.navbar-toggler{
    background: #ffc219;
}
}
@media(max-width:415px){
    #navbarSupportedContent {
        height:80vh;
      
}
ul.navbar-nav.mr-auto {
    margin-top: 30px;
    margin-left: -16px;
} 
input.form-control.mr-sm-2{
    width:100%;
    margin-bottom:13px;
}  
form.form-inline.my-2.my-lg-0.icon-shop {
    margin-left: -18px;
}
.logo-navar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.navbar-toggler-icon{
    width: 1.2em;
    height: 1.3em;
}
}

.foodter-a li a{
	text-decoration: none;
	color:#212529;
}
.foodter-a li a:hover{
	color:#ff9800;
	line-height:20px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link, input#myInput a{
    color:white;
}
.navbar-nav .nav-item .nav-link:hover{
    color:#ffc219;
}
a.nav-link.text-navar{
    color:white;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.disabled{
    color:white;
}
a.nav-link.text-navar:hover{
    color:#ffc219;
}
.navbar-light .navbar-nav .nav-link.disabled:hover{
    color:#ffc219;
}
button.btn.btn-outline-success.my-2.my-sm-0.account {
    color: white;
    text-decoration: none;
    background: none;
}
button.btn.btn-outline-success.my-2.my-sm-0.account:hover{
    color:#ffc219;
}














/****FOOTER******************/
.row-foodter{
    width:80%;
    margin:auto;
    margin-top:40px;
}
.footer-item h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 10px;
    color: #333;
    border-left: solid 3px #ffc219;
}
.footer-item ul {
    list-style: none;
    padding-left: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-item ul>li {
    line-height: 32px;
    font-size:16px;
}
.row-foodter i {
    width: 25px;
    text-align: center;
    font-size:16px;
}

.btn-primary img{
    height:37px;
    width:37x;
}
.btn-primary{
    background-color: #3e3e3e;
}
.navar-modal ul li{
    display:inline-block;
    padding:0 15px;
}
.button.btn.btn-link{
    color:#ffc219;
}

.button button{
    transition: 1s;
}
.button button:hover{
    background: #3e3e3e;
    color:white;

}


@media(max-width:600px) and (min-width:570px){
    .row1{
        display: flex;
        justify-content: center;
        height:750px;
    }
    .card{
        margin-top: -13px;
    }
}
.row1{
    margin-top:0;
}
@media(max-width:500px){
    #navbarSupportedContent {
        height: 100vh;
    }
    .footer-item h4{
        font-size:18px;
    }
}
@media(max-width:333px){
    #navbarSupportedContent {
        padding: 58px 49px 71px 75px;
    }
}
@media(max-width:1200px){
  .navar-menu {
    width: 94%;
  }
}
@media(max-width:1000px){
  .navar-menu {
    width: 100%;
  }
}
@media(max-width:1000px) and (min-width:501px){
    .navbar{
        padding:0;
    }
    div#navbarSupportedContent {
        height: 100vh;
    }
    .mr-auto, .mx-auto{
        margin-top:40px;
    }
  }
  .content button{
    box-shadow: white 2px 1px 2px 1px;
    transition: 1s;

  }
  .content button:hover{
      box-shadow: #ffc219 2px 1px 2px 1px;
      background: white;
  }

  @media(width:1920px){
    .navar ul li a,.breadcrumb01 a{
        font-size:20px;
    }
    .navar-menu{
        height: 100px;
    }
    button.btn.btn-outline-success.my-2.my-sm-0.account,button.btn.btn-link,a.nav-link.text-navar,.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link, input#myInput a{
        font-size:22px;
    }
    .logo-navar img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    #headingOne h4{
        font-size:25px;
    }
    .content-pagination h3{
        font-size:27px;
    }
    .content-informtion p{
        font-size:18px;
    }  
    .footer-item h4{
        font-size:25px;
    }
    .foodter-a li a,.content button,.information-content p{
        font-size:22px;
    }
    .txt-col p{
        font-size:22px;
    }
    .logo-holly3 {
        bottom: 1%;

    }
}